/** Admin notice **/
.notice-gdpr {
  border-left-color: #0095a8;
  overflow: hidden;
}

.notice-gdpr img {
  width: 100px;
  margin: 25px 0;
  float: left;
}

.notice-gdpr .gdpr-content {
  float: left;
  width: calc(100% - 120px);
  padding-left: 20px;
  padding-bottom: 15px;
}

/** Modal window **/
.gdpr-modal {
  max-width: 1200px;
}

.gdpr-modal li {
  list-style-type: disc;
  margin-left: 20px;
}

.gdpr-modal-footer {
  background: #fcfcfc;
  border-top: 1px solid #dfdfdf;
  padding: 10px 0;
}

/** General **/
.gdpr-framework-wrap table {
  table-layout: fixed;
  border-spacing: 0;
}

.gdpr-framework-wrap input {
  margin: 0;
}

.gdpr-framework-wrap .gdpr-select {
  width: 300px;
  max-width: 90%;
  height: 32px;
  border-color: #ddd;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  padding: 0 6px;
  color: #666;
}

.gdpr-framework-wrap .select2-container {
  display: block;
  width: 300px;
  max-width: 100%;
  
}

.gdpr-framework-wrap .select2-container--default .select2-selection--single .select2-selection__arrow,
.gdpr-framework-wrap .select2-container--default .select2-selection--single {
  height: 32px !important;
}

.gdpr-framework-wrap .select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-width: 6px 3px 0 3px;
  margin-left: -2px;
  margin-top: -3px;
  border-color: #666 transparent transparent transparent;
}

.gdpr-framework-wrap .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #666 transparent;
  border-width: 0 3px 6px 3px;
}

.gdpr-framework-wrap input {
  border-radius: 4px;
  border: 1px solid #aaa;
  box-shadow: none;
  height: 32px;
  line-height: 28px;
  min-width: 300px;
  max-width: 100%;
}

.gdpr-framework-wrap textarea {
  border-radius: 4px;
  border: 1px solid #aaa;
  box-shadow: none;
  height: 32px;
  line-height: 28px;
}

.gdpr-framework-wrap .select2-container input {
  min-width: 0;
}

.gdpr-framework-wrap input[type=checkbox] {
  line-height: initial;
  height: 16px;
  min-width: 0;
}

.gdpr-framework-wrap input[type=submit] {
  min-width: 0;
}

.gdpr-framework-wrap input[type=button] {
  min-width: 0;
}

.gdpr-framework-wrap .wp-editor-wrap {
  width: 720px;
  max-width: 100%;
}

.gdpr-framework-wrap .nav-tab-highlight {
  background: #ffa200;
  color: #fff;
  font-weight: 700;
  border-bottom: 1px solid #ccc;
}

.gdpr-framework-wrap .nav-tab-highlight:hover {
  background: #ffc35c;
  color: #fff;
}

.gdpr-framework-wrap .nav-tab-highlight:focus {
  box-shadow: 0 0 2px 1px #5b9cd9;
}

/* Consent tables */
.gdpr-framework-wrap .gdpr-consent,
.gdpr-framework-wrap .gdpr-consent-admin {
  table-layout: auto;
}

.gdpr-consent-user {
  border-collapse: collapse;
}

.gdpr-consent-user th {
  padding-bottom: 10px;
}

.gdpr-consent-user td,
.gdpr-consent-user th {
  border: 1px solid #ccc;
}

.gdpr-consent-user tr:first-child th {
  border: 0;
}

.gdpr-consent th {
  text-align: left;
}

.gdpr-consent td {
  padding-right: 16px;
}

.gdpr-consent-admin th {
  text-align: left;
  padding-bottom: 16px;
}

.gdpr-consent-admin + .button {
  margin-top: 16px;
}

.gdpr-consent-admin td {
  padding-right: 16px;
  vertical-align: top;
  padding-bottom: 20px;
}

.gdpr-framework-wrap .gdpr-consent-admin input {
  min-width: 0;
}

.gdpr-consent-table-desc {
  width: 450px;
}

.gdpr-consent-table-input {
  width: 200px;
}

.gdpr-consent-table-input input {
  width: 100%;
}

.gdpr-consent-table-desc textarea {
  width: 100%;
  min-height: 100px;
}

.gdpr-consent-add-button {
  text-align: right;
  width: 1051px;
}

.gdpr-consent-user {
  table-layout: auto;
}

.gdpr-consent-user td {
  padding: 15px;
}

.gdpr-consent-user-title {
  width: 200px;
}

.gdpr-consent-user-desc {
  width: 450px;
}

/* support page */
.gdpr-framework-wrap .align-center {
  text-align: center;
}

.gdpr-framework-wrap .section {
  margin: 25px 0;
  max-width: 720px;
}

.gdpr-framework-wrap .row {
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -8px;
  margin-left: -8px;
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.gdpr-framework-wrap .col {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 8px;
  padding-left: 8px;
  margin-bottom: 15px;
}

@media (min-width: 576px) {
  .gdpr-framework-wrap .col {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 768px) {
  .gdpr-framework-wrap .col {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
}

.gdpr-framework-wrap .col .button {
  display: block;
  text-align: center;
}

.gdpr-framework-wrap .col_image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;
  background-color: #e5e5e5;
  padding-bottom: 60%;
  margin-bottom: 15px;
  position: relative;
}

.gdpr-framework-wrap .col_image:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffa200;
  opacity: .15;
}

.gdpr-framework-wrap .col .button {
  font-size: 14px;
  line-height: 28px;
  padding: 4px 15px;
  height: auto;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 #ccc;
  -webkit-box-shadow: 0 1px 1px #ccc;
  transition: .1s;
}

.gdpr-framework-wrap .col .button:hover {
  box-shadow: 0 1px 1px #ccc;
  -webkit-box-shadow: 0 1px 1px #ccc;
  border: 1px solid #ccc;
  background: #fff;
}

.gdpr-framework-wrap .col .button:focus {
  box-shadow: 0 0 2px 1px #5b9cd9;
}

.gdpr-framework-wrap .col .button-primary {
  background-color: #ffa200;
  border-color: #ffa200;
  color: #fff;
  text-shadow: none;
  -webkit-box-shadow: 0 1px 1px #ccc;
  box-shadow: 0 1px 1px #ccc;
}

.gdpr-framework-wrap .col .button-primary:hover {
  background: #ffc35c;
  border-color: #ffc35c;
  color: #fff;
}

.gdpr-framework-wrap .col .button-primary:active,
.gdpr-framework-wrap .col .button-primary:focus {
  background-color: #ffa200;
  border-color: #ccc;
  color: #fff;
  box-shadow: 0 0 2px 1px #5b9cd9;
}

.gdpr-framework-wrap .col p {
  font-size: 14px;
  line-height: 26px;
  color: #555;
}

.gdpr-framework-wrap .col p:last-child {
  margin-bottom: 0;
}
